.card{
    background-color:aquamarine;
    border-radius:10px;
    text-align: center;
    padding:5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    transition:transform ease-in-out .2s;
}
.card img{
    width:200px;
    height:200px;
}
.card:hover{
    transform:scale(.94);
}
.card:active{
    transform:scale(0.8);
}